<mat-sidenav-container>
  <mat-sidenav #sidenav (opened)="log('Opened')" (closed)="log('Closed')" mode="side" [(opened)]="opened">
    <img class="logo" src=".\assets\images\logo.PNG" alt="logo"><br>
    <button class="button-nav" mat-raised-button>Tableau de bord</button><br>
    <button class="button-nav" mat-raised-button>Activités</button><br>
    <button class="button-nav" mat-raised-button>Émargement</button><br>
    <button class="button-nav" mat-raised-button>Messagerie</button><br>
    <button class="button-nav" mat-raised-button>Paramètres</button><br>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-raised-button (click)="sidenav.toggle()">Ouvrir</button>
  </mat-sidenav-content>
</mat-sidenav-container>
