<div class="planning">

  <div class="layout-box">

      <div class="top-bar">
        <p class="titre">Emploi du temps</p>
        <p class="date">Vendredi 1er Juillet 2022</p>
      </div>

      <div class="search-bar-container">
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="date" placeholder="date">

          </p>
        </div>
      </div>

      <div class="page-content">
        <app-activity-list></app-activity-list>
      </div>

  </div>

</div>
